@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');
*,
*::before,
*::after{
    box-sizing: border-box;
}

:root{
    --ff-primary:'Nunito',sans-serif;
    --ff-secondary:'Source Sans Pro', sans-serif;
    --fw-reg:300;
    --fw-bold:900;
    --clr-bg:#ffffff;
    --clr-dark:black;
    --clr-accent:#ed643e;
    --fs-h1:3rem;
    --fs-h2:2.25rem;
    --fs-h3:1.25rem;
    --fs-body:1rem;
    --bs:0.25em 0.25em 0.75em rgba(0,0,.25),0125em 0.125em 0.125em rgba(0,0,0.15);
}
@media(min-width:800px){
    :root{
        --fs-h1:4.5rem;
        --fs-h2:3.75rem;
        --fs-h3:1.5rem;
        --fs-body:1.25rem;

    }
}

/*General styles*/
body{
    background: var(--clr-bg);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section{
    padding: 5em 2em;;
}

img{
    display: block;
    max-width: 100%;
}



/*Typography*/
h1,
h2,
h3{
    line-height: 1;
    margin: 0;
}

h1{
    font-size: var(--fs-h1);
}
h2{
    font-size: var(--fs-h2);
}
h3{
    font-size: var(--fs-h3);
}


.section__title{
    margin-bottom: .25em;
}

.section__title--intro{
    font-weight: var(--fw-reg);
}

.section__title--intro strong{
   display: block;
   font-weight: var(--fw-bold);
}

:focus{
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

.work-btn{
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-bg);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    
}


.work-btn:hover{
   transform:  scale(1.1);
}

.section__subtitle{
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about{
    background: var(--clr-accent);
    color: #ffffff;
    margin-bottom: 1em;
    padding: .25em 1em;

}
/*Home section*/
.banner{
    flex: 1 0 auto;
    display: flex;
    justify-content: center;align-items: center;
    text-align: center;
  }
  .banner h1{
    font-size: 50px;
    color: #ed643e;
  
  }
  .banner h3{
    font-size: 2em;
    font-weight: 400;
    color:black;
  }
  .banner p{
    font-size: 20px;
    color: black;
  }
  .banner-icons{
    padding: 20px;
  }
  .banner-icons a{
    display: inline-block;
    font-size: 30px;
    background: black;
    padding: 5px 10px;
    border-radius: 50%;
    margin: 0 10px;
    color: #f5f3f5;
    transition: coloris ease, transform 1s ease;
  }
  .banner-icons a:hover{
    color: #ed643e;
    transform:  translateY(-10px);
  }
  
  .banner-center img{
    width: 200px;
    padding: 8px;
    display: block;
    margin: 0 auto;
    
   
  }

  @media(max-width:800px){
    .banner-center img{
      display: none;
    }

    .banner-icons a{
      display: inline-block;
      font-size: 15px;
      padding: 2px 5px;
      margin: 0 5px;
    }
    .nav-container img{
      width: 50px !important;
    }
  }

  



/*intro section*/
.intro{
    position: relative;
}

.intro__img{
    box-shadow: var(--bs);
    background-blend-mode: multiply;
}

.section__subtitle--intro{
    display: inline-block;
}

@media (min-width:600px){
    .intro{
        display: grid;
        grid-column-gap: 1em;
        width: min-content;
        margin: 0 auto;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img{
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }
    .section__subtitle--intro{
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
    }
}

/*Skills section*/

.my-skills{
  background-color: #ffffff;
  text-align: center;
}

.section__title--skills{
  color: var(--clr-dark);
  position: relative;
}

.section__title--skills::after{
  content: '';
  display: block;
  width: 3em;
  height: 2px;
  margin: 0.5em auto 1em;
  background: var(--clr-accent);
  /* opacity: 0.25; */
}

.skills{
margin-bottom: 2em;
}
.skill-header{
  margin-bottom: 15px;
  color: var(--clr-dark);
}
.skills-items li{
  font-size: medium;
  list-style-type: none;
  color: var(--clr-accent);
}
@media(min-width:800px){
  .skills{ 
      display: flex;
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
  }
  .skill + .skill {
      margin-left: 5em;
  }

}


/*About me*/
.about-me{
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.about-me__img{
    box-shadow: var(--bs);
}

.about-me__body p{
  padding-bottom: 15px;
}

@media(min-width:600px){
    .about-me{
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
        "title img"
        "subtitle img"
        "text img";
        grid-column-gap: 2em;
    }
    .about-me__img{
        grid-row: 1/-1;
        grid-column: 2;
    }
    .section__title--about{
        grid-area: title;
    }
    .about-me__img{
        grid-area: img;
    }
}


/*My Work*/
.my-work{
    background-color: var(--clr-bg);
    text-align: center;
    
}
.section__title--work::after{
    content: '';
    display: block;
    width: 3em;
    height: 2px;
    margin: 0.5em auto 1em;
    background: var(--clr-accent);
    /* opacity: 0.25; */
}

.section__title--contact::after{
  content: '';
  display: block;
  width: 3em;
  height: 2px;
  margin: 0.5em auto 1em;
  background: var(--clr-accent);
  /* opacity: 0.25; */
}
.section__subtitle--work{
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}
.portfolio{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    margin-bottom: 100px;
    
    
}
.portfolio__item{
    background: var(--clr-bg);
    overflow: hidden;
}

.portfolio__img{
    transition: 
    transform 750ms cubic-bezier(.5,0,.5,1),
    opacity 250ms linear;


}
.portfolio__item:focus{
    position: relative;
    z-index: 2;
}
.portfolio__img:hover,
.portfolio__item:focus.porfolio__img{
    transform: scale(1.2);
    opacity: .75;
}



/*Footer*/
footer{
    background: black;
    padding: 0 60px;
    text-align: center;
    margin-bottom: 0 auto;
  }
  .footer-icons a{
    display: inline-block;
    font-size: 30px;
    margin: 0 10px 20px;
    padding: 2PX 5PX;
    border-radius: 5PX;
    background: white;
    color: #0d1317;
  
  }
  footer p{
    color: #f5f3f5;
    font-size: 15px;
  }

  .txt-grey{
    color: grey;
    font-weight: bold;
  }

  @media(max-width: 800px){
       footer{
    background: black;
    text-align: center;
    bottom: auto;

    }
  }


/*Header*/

header{
    
    display: flex;
    flex-direction: column;
    
  
  }

  .nav__list{
    list-style-type: none;
    display: none;
  }

   .nav__item a{
    display: block;
    background: black;
    padding: 20px;
    font-size: 17px;
    text-decoration: none;
    color: #ffffff;
    transition: color 1s ease,background 1s ease,padding 1s ease;
  }
  .nav__link-active a{
    background: #f5f3f5;
    color: #ed643e;
    padding-left: 30px;
  }
  .nav__item a:hover
  {
    background: #f5f3f5;
    color: #ed643e;
    padding-left: 30px;
  }

  .nav-container{
    padding: 0 20px;
    background: black;
    border-bottom: 3px solid  #ed643e;
    display: flex;
    justify-content: space-between;
  }

  .nav-container img{
    width: 80px;
    align-self: center;
  }
 
  .bar{
    width: 30px;
    height: 3px;
    margin: 7px;
    background: #ed643e;
  }

  .nav{
    flex: 0 0 auto;
  }
  .nav{
    position: fixed;
    width: 100%;
    z-index: 10;
  }

  .nav-toggle{
    padding: 2px;
    display: inline-block;
    align-self: center;
  
  } 

   @media(min-width:776px) {
    .nav-container{
      display: none;
    }
    .nav__list{
      display: flex!important;
      flex-wrap: wrap;
      justify-content: center;
      background: black;
      border-bottom: 3px solid  #ed643e;
    }
  } 


  /*Contact*/

  .card{
    width: 400px; 
    overflow: hidden;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    text-align: center;
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    margin-left:  auto;
    margin-right: auto;
    
  }
  
    
  
    .card:hover{
      margin-top: -10px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }
  
  .contact-banner{
    height: 100px;
    width: 100%;
    padding-top: 30px;
    background-color: #ed643e;
    background-size: cover;
    background-position: center;

  }

  @media(max-width:800px){
    .card{
      width: 200px; 
      height: 300px;
      overflow: hidden;
      background-color: #FFFFFF;
      border-radius: 15px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.2);
      text-align: center;
      -webkit-transition: .1s ease-in-out;
      transition: .1s ease-in-out;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
    .card:first-of-type .banner{
      background-image: url("https://media-exp1.licdn.com/dms/image/C5603AQF70Nec2yrKrA/profile-displayphoto-shrink_200_200/0?e=1594857600&v=beta&t=Fa0Cp1AQxdjbELIRE76cPD2iGVJ6hHpYmkINbnrnp6Q");
    }
  
  .avatar{
    height: 100px;
    width: 100px;
    margin: auto;
    background-size: cover;
    background-position: center;
    background-color: #F1F1F1;
    border-radius: 100%;
  }
  
    .card:nth-child(1) .avatar{
      background-image: url("https://pbs.twimg.com/profile_images/1152340777382612992/A8GyrnBu_400x400.jpg");
    }
  
  h3, a, i{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
  } 
   
    h3{
      margin-top: 45px;
      margin-bottom: 5px;
      font-size: 18px;
      color: #212121;
    }
  
    a{
      display: block;
      padding: 5px 0px;
      font-size: 14px;
      color: #9E9E9E;
      text-decoration: none;
    }
  
      a:hover{
        background-color: #FAFAFA;
        color: inherit;
      }
  
  .contact-icons{
    margin-top: 10px;
    padding: 15px 0px;
    background-color: #FAFAFA;
  }
  
  .contact-icons a{
      display: inline;
      margin-right: 10px;
    }
  
      ul a:last-of-type{
        margin-right: 0px;
      }
  
        ul a i:hover{
          transform: scale(1.5);
        } 
