/* Core Styles */
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');
*{
  margin: 0;
  padding: 0;
}
body  {
  font-family: 'Nunito',sans-serif;

}

nav ul{
  list-style-type: none;
  display: none;
  /*border-bottom: #ed643e;*/

}
nav ul a{
  display: block;
  background: black;
  padding: 20px;
  font-size: 17px;
  text-decoration: none;
  color: #ffffff;
  transition: color 1s ease,background 1s ease,padding 1s ease;

}
nav ul a:hover{
  background: #f5f3f5;
  color: #ed643e;
  padding-left: 30px;

}
.nav-container img{
  width: 80px;


  align-self: center;
}
.nav-container{
  padding: 0 20px;
  background: black;
  border-bottom: 3px solid  #ed643e;
  display: flex;
  justify-content: space-between;
}
.bar{
  width: 30px;
  height: 3px;
  margin: 7px;
  background: #ed643e;
}
.btn{
  padding: 2px;
  display: inline-block;
  align-self: center;

}
header{
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

nav{
  flex: 0 0 auto;
}
.banner{
  flex: 1 0 auto;
  display: flex;
  justify-content: center;align-items: center;
  text-align: center;
}
.banner h1{
  font-size: 50px;
  color: #ed643e;

}
.banner h3{
  font-size: 2em;
  font-weight: 400;
}
.banner p{
  font-size: 20px;
}
.banner-icons{
  padding: 20px;
}
.banner-icons a{
  display: inline-block;
  font-size: 30px;
  background: #474747;
  padding: 5px 10px;
  border-radius: 50%;
  margin: 0 10px;
  color: #f5f3f5;
  transition: coloris ease, transform 1s ease;
}
.banner-icons a:hover{
  color: #ed643e;
  transform:  translateY(-10px);
}
nav{
  position: fixed;
  width: 100%;
  z-index: 10;
}
.banner-center img{
  width: 200px;
  padding: 1px;
}
.hire-btn{
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: 700;
  background:#ed643e;
  border-radius:40px;
  padding: 0.5em 2em;
  margin: 1em 0;
  transition: 0.3s;

}
.hire-btn:hover{
color: #ed643e;
}


@media screen and (min-width:776px) {
.nav-container{
  display: none;
}
nav ul{
  display: flex!important;
  flex-wrap: wrap;
  justify-content: center;
  background: black;
  border-bottom: 3px solid  #ed643e;
}

}

/*Skills*/
.skills{
  min-height: 80vh;
  background: #ed643e;
  display: flex;
  align-items: center;
  margin: 50px;
  border-radius: 30px;

}
.skill{
  color: #f5f3f5;
  display: flex;
  margin: 40px;

}
.skills-icon{
  align-self: center;
  font-size: 60px;
  margin-right: 20px;
  border-radius: 50px;
  padding: 20px;
  border: 3px solid #f5f3f5;
}
.skill-text p{
  line-height: 2;
  margin-top: 5px;
}

/*Portfolio*/
.project{
  padding: 0 0 100px 0;
  background: white;
}
.title h2{
  font-size: 40px;
  text-align: center;
  color: black;
}

.skills-title h2{
  font-size: 40px;
  text-align: center;
  color: black;

  padding: 20px;

}
.title-underline{
  background: #ed643e;
  width: 100px;
  margin: 10px auto;
  height: 4px;
}
.title{
  padding: 50px 0;
}

.skills-title{

}

/*About*/
.about{
  min-height: 60vh;
  padding: 100px 0;
  background: #ed643e;
  justify-content: center;
  align-items: center;
  margin: 50px;
  border-radius: 30px;



}
.about-card{
  background: #ed643e;
  text-align: center;
  padding: 60px 40px;


}

.about p{
  color: white;
}
.about h3{
  font-size: 40px;
}
.about-card img{
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border-bottom: 3px solid black;
}

.about-title h2{
  font-size: 40px;
  text-align: center;
  color: black;


  padding: 20px;
}
.about-card p{
  line-height: 2;
}
@media screen and(min-width:776px) {
.about-card{
  max-width: 50%;
  border-radius: 30px;
}
.about-card p{
  max-width: 70%;
  margin: 0 auto;
}
}
/*Contact*/
.contact-card{
max-width: 1170px;
margin-left: auto;
margin-right: auto;
padding: 1em;
background: white;



}
.company-info{
border-top: 50px;


}
.contact form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact form p{
  margin: 0;
}
.contact form .full{
  grid-column: 1/3;
}
.contact form sub-btn, .contact form input, .contact form textarea{
  width: 100%
}

.contact form label{
  display:block;
}
.company-info li{
  list-style: none;
  padding: 0;
  text-align: center;

}
.company-info h3{
  text-align: center;
  color: white;
}

.branding{
  text-align: center;
}
.wrapper{
  box-shadow: 0 0 20px 0 white;
  background:#ed643e;
  margin: 45px;


}
.wrapper > *{
  padding: 1em;
}
.company-info{
  background: #f0bc6e;
  border-top: 50px;
  text-align: center;
}




.contact-title h2{
  font-size: 40px;
  text-align: center;
  color: black;
}

.sub-btn{
  margin: 20px;
  font-size: 20px;
  padding: 5px;
  border-radius: 40px;
  color: black;
  background: white;
  transition: color 1s ease-in-out, background 1s ease-in-out;

}
.sub-btn:hover{
  color: grey
  background:white;
}
/*footer*/
footer{
  background: black;
  padding: 60px 0;
  text-align: center;
}
.footer-icons a{
  display: inline-block;
  font-size: 30px;
  margin: 0 10px 20px;
  padding: 2PX 5PX;
  border-radius: 5PX;
  background: white;
  color: #0d1317;

}
footer p{
  color: #f5f3f5;
  font-size: 20px;
}
/**contact*/
